<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'chores/style_home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHORES - Home</title>
</head>

<body>
    <header>
        <ul>
            <li style="float:left"><a href="{% url 'chores:index' %}">CHORES</a></li>
            <li><a href="{% url 'chores:logout' %}">Logout</a></li>
        </ul>
    </header>

    <p>Viewing Child Dashboard</p>
    
    <h5>Welcome, {{user_name}}</h5>

    {% if has_household %}
    <h1>{{household_name}} Household</h1>
    <h3>Total Coins: {{balance}}</h3>

    <div class="div-body">
        <div class="div-head">
            <h5>Incomplete Tasks</h5>
        </div>

        {% for task in tasks %}
            {% if task.task_status == 'Incomplete'%}
            <div class = "div-content" style="display: flex">
                <div class="left-div">
                    <h5>{{task.task_title}}</h5>
                    <p class = "task-desc">{{task.task_description}}</p>
                    <p>Reward: {{task.task_reward}}</p>
                </div>

                <div class = "right-div">
                    <a href="complete/{{task.id}}"><img src="{% static 'chores/images/complete_icon.png' %}" alt="" style="width: 20px; height: auto"></a>
                </div>
            </div>
            {% endif %}
        {% endfor %}

        <div class = "div-footer"></div>
    </div>

    <div class="div-body">
        <div class="div-head">
            <h5>Available Rewards</h5>
        </div>

        {% for reward in rewards %}
            <div class = "div-content" style="display: flex">
                <div class="left-div">
                    <h5>{{reward.reward_title}}</h5>
                    <p class = "task-desc">{{reward.reward_description}}</p>
                    <p>Cost: {{reward.reward_cost}}</p>
                </div>

                {% if balance >= reward.reward_cost %}
                <div class="right-div">
                    <a href="claim/{{reward.id}}"><img src="{% static 'chores/images/reward_icon.png' %}" alt="" style="width: 20px; height: auto"></a>
                </div>
                {% endif %}
            </div>
            
        {% endfor %}

        <div class = "div-footer"></div>
    </div>

    {% else %}
    <p>To start using CHORES enter a house code to join a Household!</p>
    <form action="{% url 'chores:joinhouse' %}"  method="post">
        {% csrf_token %}
        <p>{{error}}</p>
        <label for="house_code">House Code:</label>
        <input type="text" name="house_code" id="house_code">
        <input class= "button-3d" type="submit" value="Join House">
    </form>
    {% endif %}

</body>
