<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'chores/style_form.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHORES - Reward Creation</title>
</head>

<body>
    <div class="heading">
        <ul>
            <li style="float:left"><a href="{% url 'chores:index' %}">CHORES</a></li>
        </ul>
    </div>


    <div class = "registration">
        <h1>Reward Creation</h1>
        <span class = "error-message">{{error}}</span>
        <form action="{% url 'chores:createreward' %}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value = "Create Reward">
        </form>
    </div>
    
    
</body>
</html>